/*.box {
	background: url("../images/bg.gif");
	height:80px;
	background-repeat: no-repeat;
	background-position: center;
	}

.logo {
	background: url(../images/logo.png) no-repeat center;
	display: block;
	width: 280px;
	height: 90px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;

}
*/

.square {
	height: 200px;
	width: 200px;
	background: gray;

}

.bar{
	height: 200px;
	background: darkgray;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both; 
	border: 1px solid green; 	
}

.left{
	float:left;
}
.right{
	float:right;
}