/*** GLOBALS ***/
/* Color */
/**
 
#e77e04 Orange - Background / Accent Text
#2b3f4c Blue Gray - Headers
#777 Gray - Basic Content

**/
/*Typography */
*{ 
	margin: 0;
	}

body {
    font-size:100%;
	}
.bodytext p {
    font-size:0.875em;
	}
.sidenote {
    font-size:0.75em;
	}
<!--[if !IE]>-->
body {
    font-size:16px;
	}
<!--<[endif]-->
body{ 
	margin: 0;
	}
h1,h2,h3,h4,h5,h6{ 
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	color: #e77e04;
	margin-bottom: 15px !important;	
	line-height: 1.25em;
	}

h1{ 
	font-size: 2.75em; /* 16×2.75em=44 */
	}	
h2{ 
	font-size: 2.3125em; /* 16×2.3125em=37 */
	}
h3{ 
	font-size: 1.6875em; /* 16×1.6875=27 */
	}
h4{ 
	font-size: 1.4375em; /* 16×1.4375=23 */
	}
h5{ 
	font-size: 1.125em; /* 16×1.125=18 */
	}
h6{ 
	font-size: 1em; /* 16×1=16 */
	}
p{ 
	font-family: "Roboto Condensed", sans-serif;
	color: #777;
	line-height:1.2em
}
.gallery-wrap, .cta-foot, .services{ 
	padding: 100px 0;
}
/*** Nav ***/
nav{ 
	height: 130px;
}
.logo:before{ 
	background: url(../images/icon_sprite.png) no-repeat top left;
	content:"";
	display:inline-block;
	height:60px;
	width:60px;
	vertical-align:middle;
	margin:0 20px 0 0;
}
.logo{ 
	display:inline-block;
	padding: 35px 0;
}
/*** Header ***/
header{ 
	background: #e77e04 url(../images/intro_bg.jpg) no-repeat top center;

}
.intro{ 
	margin: 30px 0;
}
.intro .text{ 
	width: 80%;
}
.intro h1{ 
	margin-top: 0px;
	color: #fff;
	font-size: 3.5em;
	text-transform: uppercase;
	font-family:'Roboto Condensed', sans-serif;
}
.intro p{ 
	margin-bottom: 30px;
	color: #fff;
	font-family: 'Roboto';
	font-size: 1.1em;
	line-height: 1.5em;
}
.cta-button{ 
	padding: 20px 30px;
	background-color: white;
	border-style: none;
	border-radius: 5px;	
	color: #e77e04;
	  font-family:'Roboto', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
}
.phone-pic{ 
	position:relative; 
	bottom: 0 !important;
	padding-top: 10px;
	height: 540px;
	margin-top: -100px;
}
.phone-pic img{ 
	width: 311px;
	height: auto;
	float: right;
}
/*** Services ***/
.tag:before {
	background: url(../images/icon_sprite.png) no-repeat 0 -120px;
	content:'';
	display:block;
	height:66px;
	width:66px;
	margin: 0 auto 30px auto;
	}
.cloud:before {
	background: url(../images/icon_sprite.png) no-repeat -80px -120px;
	content:'';
	display:block;
	height:66px;
	width:73px;
	margin: 0 auto 30px auto;
	}
.mapit:before {
	background: url(../images/icon_sprite.png) no-repeat -160px -120px;
	content:'';
	display:block;
	height:66px;
	width:73px;
	margin: 0 auto 30px auto;
	}
.service{
	width: 80%;
	text-align: center;
	line-height: 2em;
}
/*** Gallery ***/
.gallery-wrap aside{ 
	padding-top: 125px;
}
.gallery-wrap h3{
	color: #2b3f4c;
}
.gallery-wrap p{ 
	line-height: 1.6em;
}
.featured .fs-cell{ 
	margin: 0 20px 20px 0;
}

.featured .fs-cell:nth-child(4n){
	margin-right: 0;
}
.featured .fs-cell img{ 
	width: 100%;
}
/*** CTA - Foot ***/
.cta-foot{ 
	text-align: center;
}
.appstore {
	background: url(../images/icon_sprite.png) no-repeat center -201px;
	height:50px;
	width: 135px;
	margin: 0 auto 0 auto;
	}
.google {
	background: url(../images/icon_sprite.png) no-repeat center -261px;
	height:50px;
	width: 135px;
	margin: 0 auto 0 auto;
	}
.amazon{
	background: url(../images/icon_sprite.png) no-repeat center -321px;
	height:50px;
	width: 135px;
	margin: 0 auto 0 auto;
	}
.downloads{ 
	margin-top: 30px;
}
.downloads button{ 
	margin-left: 40px;
}
.downloads button{ 
	margin-left: 30px;
}
.downloads .appstore{ 
	margin-left: 0;
}
.cta-foot .button { 
	background-color: black;
	border-style: none;
	border-radius: 5px;
	display: inline-block;
	text-indent:150%;
	white-space:nowrap;
	overflow:hidden;
}


/*** Footer ***/
footer{ 
	border-top: 2px solid #eee;
	padding-top: 20px;
}
footer .social, footer .signature{ 
	display: inline-block;
}
.social{ 
	float: right;
}
.social > .facebook, .social > .twitter, .social > .googleplus{
	display: inline-block; 
}
.facebook:before {
	background: url(../images/icon_sprite.png) no-repeat -79px 0px;
	content:'';
	display:block;
	height:40px;
	width: 40px;
	margin: 0 auto 0 auto;
	}
.twitter:before {
	background: url(../images/icon_sprite.png) no-repeat -118px 0px;
	content:'';
	display:block;
	height:40px;
	width: 40px;
	margin: 0 auto 0 auto;
	}
.googleplus:before {
	background: url(../images/icon_sprite.png) no-repeat -158px 0px;
	content:'';
	display:block;
	height:40px;
	width: 40px;
	margin: 0 auto 0 auto;
	}
.signature p{ 
	display: inline-block !important;
}
@media only screen and (min-width:741px) and (max-width:960px){
	/* Gallery */
	.featured .fs-cell{ 
	margin: 0 5px 5px 0 !important;
	}
	
	.gallery-wrap aside{ 
	padding: 40px 0;
	}
	.gallery-wrap aside h3{ 
	font-size: 36px;
	}
	.gallery-wrap aside p{ 
	font-size: 1.2em;
	line-height: 2em;
	}	
}
/*** Small Screens: less than 740px ***/
@media only screen and (max-width:740px){ 
	/* Global */
	.gallery-wrap, .cta-foot, .services{ 
	padding: 50px 0;
	}
	/* Header */ 
	.logo{ 
	display: block;
	width: 300px;
	margin: 0 auto;
	font-size: 2.2em;
	color: #2b3f4c;
	} 
	header > div{ 
	display: block;

	}
	.intro .text{ 
	width: 100%;
	}
	.cta-button{ 
	width: 100%;
	}

	/* Services */
	.tag:before {
	display: none;
	height: 0;
	width: 0;
	}
	.cloud:before {
	display: none;
	height: 0;
	width: 0;
	}
	.mapit:before {
	display: none;
	height: 0;
	width: 0;
	}
	.tag:after {
	background: url(../images/icon_sprite.png) no-repeat 0 -80px;
	content:'';
	display:inline-block;
	height:40px;
	width:40px;
	margin: 0 0 0 20px;
	vertical-align: middle;
	}
	.cloud:after {
	background: url(../images/icon_sprite.png) no-repeat -40px -80px;
	content:'';
	display:inline-block;
	height:40px;
	width:40px;
	margin: 5px 0 0 20px;
	vertical-align: middle;
	}
	.mapit:after {
	background: url(../images/icon_sprite.png) no-repeat -80px -80px;
	content:'';
	display:inline-block;
	height:40px;
	width:40px;
	margin: 0 0 0 20px;
	vertical-align: middle;
	}
	.service{ 
	width: 100%;
	text-align: left;
	}
	.services > .fs-cell{ 
	margin-bottom: 60px;
	}
	/* Cta-foot */
	.downloads button{ 
	width: 100%;
	display: block;
	margin: 0 auto 10px auto;
	}
	.signature, .signature p{ 
	display: block !important;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	}
	.social{ 
	display: block !important;
	float: none;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	}
	
	.cta-foot .button {
		display: block;
		margin-bottom: 5px;
		width: auto;
	}

}
@media only screen and (max-width:720px){ 
	/* Gallery */
	.featured .fs-cell{ 
	margin: 0 5px 5px 0 !important;
	}
	.gallery-wrap aside{ 
	padding: 40px 0;
	}
	.gallery-wrap aside h3{ 
	font-size: 36px;
	}
	.gallery-wrap aside p{ 
	font-size: 1.2em;
	line-height: 2em;
	}
}
